doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title message board
        link(rel="stylesheet" href="../stylesheets/index.css")
    body
        h1#top Message Board 
        div.actions
            a(href="/new-message") [Post a message]
            a(class="jump bottom", href="#bottom") [Go to bottom]
        ul.messages 
            each message in messages
                div.message-container
                    div.side-arrow #{'>>'} 
                    div.message-content
                        div.user-heading
                            p.username 
                                b #{message.username}
                            p.timestamp #{message.timestamp}
                        p.message-text #{message.text}
        a(class="jump top" href="#top" id="bottom") [Go to top]
    



