doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title new message
        link(rel="stylesheet" href="../stylesheets/new-message.css")
    body 
        h1 Your message
        a(href="/") [Return]
        div.form-container
            form(method="POST" action="/new-message" class="message-form")
                div.name-container
                    label(for="username") Name:
                    input(type="text", name="username" id="username" required)
                br
                div.message-text-container
                    label(for="message-text") Message:
                    textarea(type="text", name="messageText", id="message-text", required rows="5" cols="50")
                br
                button#submit Submit

