* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 1rem;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  background-color: rgb(238, 242, 255);
}

h1 {
  margin-bottom: 1rem;
}

.actions {
  margin-bottom: 1rem;
}

a:first-child {
  margin-right: 1rem;
}

.message-container {
  margin: 4px 0;
  display: flex;
  overflow: auto;
}

.user-heading {
  display: flex;
}

.user-heading .username {
  margin-right: 1rem;
  margin-bottom: 1rem;
  color: forestgreen;
}

.message-content {
  padding: 5px 10px 20px;
  overflow: auto;
  background-color: rgb(214, 218, 240);
}

.side-arrow {
  margin-right: .5rem;
}

.message-text {
  margin-left: 2rem;
  font-family: inherit;

  white-space: pre-wrap;       /* wrapping pre text */
  white-space: -moz-pre-wrap; 
  white-space: -pre-wrap;     
  white-space: -o-pre-wrap;   
  word-wrap: break-word;    
}

