* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 1rem;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background-color: rgb(238, 242, 255);
}

h1 {
    margin-bottom: 1rem;
}

a {
    display: block;
    margin-bottom: 1rem;
}

.form-container {
    width: 50vw;
    padding: 1rem;
    background-color: rgb(214, 218, 240);
}

input {
    width: 10rem;
    margin-left: 5px;
}

.message-text-container {
    display: flex;
}

.message-text-container label {
    margin-right: 5px;
}

button {
    font-size: inherit;
    font-family: inherit;
    padding: 2px;
}
